<table>
  <tr id="titulo">
  <th>When / Quando </th>
  <th>Map's link </th>
  <th>Where / Onde </th>
  <th>Contact / Contato </th>
  <th>ticket / ingresso </th>
  </tr>
  <% for(let show of shows) { %>
   <tr class="item">
    <td>
      <%- show.when %>
    </td>
    <td>
      <a href="<%-show.mapsLink%>"><img src="/img/icons/Pin.png" alt="MAP PIN" id="mapPin"></a>
    </td>
    <td>
      <%=show.address%>
    </td>
    <td>
      <%=show.contact%>
    </td>
    <td>
      <%=show.fee%>
    </td>
  </tr> 
  <% } %>
  
</table>